@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins/Poppins-Light.ttf');
    font-weight: normal;
    font-size: normal;
}

* {
    margin: 0;
    color: white;
    font-family: 'Poppins';
}

body {
    background-color: black;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #190061; 
    padding: 10px;
    height: 47.5;
    width: 100%;
    position: fixed;
    top: 0;
    border-bottom: 5px solid #0C0032;
}

.menu-img {
    padding-right: 25px;
    padding-left: 40px;
}

.menu-img:hover {
    opacity: .5;
    cursor: pointer;
}

.about-me {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
    margin-top: 115px;
}

.nick-pic {
    width: 40%;
    object-fit: cover;
    border: 5px solid #0C0032;
}

.about-description {
    background-color: #240090;
    border: 5px solid #0C0032;
    padding: 25px;
    height: fit-content;
    width: 50%;

}

.my-work {
    margin: 50px;
    
}

.project-grid {
   padding-top: 25px;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   gap: 50px;
}

.project-box {
    display: flex;
    flex-direction: column;
    width: 350px;
}

.screenshot-box {
    border: #0C0032 5px solid;
    height: 200px;
    width: 350px;
    overflow: hidden;
}

.screenshot {
    height: 200px;
    width: 350px;
}

.description-box {
    border: #0C0032 5px solid;
    background-color: #240090;
    height: 125px;
    width: 350px;
}

.project-title {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.contact {
    background-color: #190061;
    border-top: 5px solid #0C0032;
    height: 500px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo-box{ 
    display: flex;
    align-items: center;
}

.linked-logo {
    height: 50px;
    width: 50px;
}

.logo {
    height: 25px;
    width: 25px;
}

@media (max-width: 1100px) {
    .about-me {
        flex-direction: column;
    }
    .nick-pic {
        width: 80%;
    }

    .about-description {
        width: 70%;
    }
    .head-buttons {
        height: 26px;
    }
}