@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins/Poppins-Light.ttf');
    font-weight: normal;
    font-size: normal;
}

* {
    margin: 0;
    color: white;
    font-family: 'Poppins';
}

body {
    background-color: black;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #190061; 
    padding: 10px;
    height: 47.5;
    width: 100%;
    position: fixed;
    top: 0;
    border-bottom: 5px solid #0C0032;
    z-index: 5;
}

.button-box {
    display: flex;
    justify-content: space-evenly;
    width: 400px;
}

a {
    text-decoration: none;
}

button {
    background-color: #190061;
    border: none;
}

.menu-img {
   padding-right: 15px;
   height: 25px;
   display: none;
}

.screenshot:hover, .menu-img:hover, button:hover {
    opacity: .5;
    cursor: pointer;
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 25px;
    margin-top: 70px;
    height: 85vh;
}


.top-text, .biggest-text, .bigger-text, .bottom-text, .about-me, .work {
    opacity: 0;
    transition: opacity 1s ease-out;
}

.biggest-text {
    font-size: 100px;
}

.bottom-text {
    display: flex;
    flex-direction: column;
    width: 110px;
    align-items: center;
}

.fade {
    opacity: 1;
}

.down-arrow {
    animation: 1s blink infinite alternate;
    height: 25px;
    width: 25px;
    z-index: -1;
}

@keyframes blink {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.about-me {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
}

.nick-pic {
    width: 35%;
    object-fit: cover;
    border: 5px solid #0C0032;
}

.about-description {
    background-color: #190061;
    border: 5px solid #0C0032;
    padding: 25px;
    height: fit-content;
    width: 50%;

}

.work {
    margin: 50px;   
}

.project-grid {
   padding-top: 25px;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   gap: 50px;
}

.project-box {
    display: flex;
    flex-direction: column;
    width: 350px;
}

.screenshot-box {
    border: #0C0032 5px solid;
    height: 200px;
    width: 350px;
    overflow: hidden;
}

.screenshot {
    height: 200px;
    width: 350px;
}

.description-box {
    border: #0C0032 5px solid;
    background-color: #190061;
    height: fit-content;
    width: 350px;
}

.description {
    padding: 5px;
}

.project-title {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.contact {
    background-color: #190061;
    border-top: 5px solid #0C0032;
    height: 300px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.logo-box{ 
    display: flex;
    align-items: center;
}

.linked-logo {
    height: 50px;
    width: 50px;
}

.logo {
    height: 25px;
    width: 25px;
}

@media (max-width: 1100px) {
    .about-me {
        flex-direction: column;
    }
    .nick-pic {
        width: 80%;
    }

    .about-description {
        width: 70%;
    }
    .head-buttons {
        height: 26px;
    }
}

@media (max-width: 950px) {
    .button-box {
        display: none;
    }
    .menu-img {
        display: block;
    }
    .home {
        align-items: center;
    }
    .biggest-text {
        font-size: 60px;
    }
}
@media (max-width: 450px) {
    .bigger-text {
        font-size: 20px;
    } 
}

@media (max-width: 380px) {
    .biggest-text {
        font-size: 50px;
    }
    .bigger-text {
        font-size: 15px;
    }
    .screenshot-box, .description-box, .screenshot {
        width: 250px;
    }
}

